<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudCoin_SafeScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CloudCoin_SafeScan.Properties.Settings>
            <setting name="SafeFileName" serializeAs="String">
                <value>%APPDATA%\Cloudcoin\%USERNAME%.safe</value>
            </setting>
            <setting name="UserCloudcoinDir" serializeAs="String">
                <value>%USERPROFILE%\Cloudcoin\</value>
            </setting>
            <setting name="UserCloudcoinImportDir" serializeAs="String">
                <value>%USERPROFILE%\Cloudcoin\Import\</value>
            </setting>
            <setting name="UserCloudcoinExportDir" serializeAs="String">
                <value>%USERPROFILE%\Cloudcoin\Export\</value>
            </setting>
            <setting name="UserCloudcoinBackupDir" serializeAs="String">
                <value>%USERPROFILE%\Cloudcoin\Backup\</value>
            </setting>
            <setting name="UserCloudcoinLogDir" serializeAs="String">
                <value>%USERPROFILE%\Cloudcoin\Log\</value>
            </setting>
            <setting name="UserCloudcoinTemplateDir" serializeAs="String">
                <value>%USERPROFILE%\Cloudcoin\Templates\</value>
            </setting>
            <setting name="SafeDir" serializeAs="String">
                <value>%APPDATA%\Cloudcoin\</value>
            </setting>
        </CloudCoin_SafeScan.Properties.Settings>
    </userSettings>
</configuration>